#{extends 'main.html' /}
#{set title:'Home' /}

<ul class="pills">
	<li class="active"><a href="#">Home</a></li>
	<li><a href="/locations">Screening Locations</a></li>
	<li><a href="/theteam">The Team</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>

<div class="row">
	<h1>Welcome</h1>
	<p>
	Welcome to the Diabetic Retinopathy Screening Service 
	for Surrey (DRSSS) site.  Our service has been running for around four years. 
	We are one of the largest screening services in the country, with 
	around 45,000 patients.  We have a dedicated team of accredited 
	screeners and admin staff who work towards keeping our servicer 
	running at the highest standard. 
	</p>
</div>
	
<div class="row">
	<h2>What We Do</h2>
	<p>
	Diabetic retinopathy is one of the many complications of diabetes. 
	As part of your diabetic care it is important to attend for annual 
	screening. Diabetic retinopathy is a major cause of blindness, 
	therefore, attending for annual screening is very important to help 
	reduce your risk of sight loss. It affects the blood vessels in the 
	back of your eye, the area known as your retina. As with many of the 
	other diabetic complications, keeping your diabetes well controlled 
	is essential, as this can have an effect on your eyes.		
	</p>
	<p>
	The screening process involves taking digital photographs of your retina, 
	which can then be examined for any sign of diabetic retinopathy. 
	The longer a patient has diabetes, the more likely there will be 
	some effect on the eyes, however it will not always be sight threatening. 
	It is important to make sure that if necessary, treatment is given at the 
	right time. If there are any signs that vision may be at risk, we will 
	refer patient to an Ophthalmologist, who will then decide if any treatment 
	is needed.
	</p>
</div>

