#{extends 'main.html' /}
#{set title:'Home' /}

<ul class="pills">
	<li class="active"><a href="#">Home</a></li>
	<li><a href="/locations">Screening Locations</a></li>
	<li><a href="/theteam">The Team</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>


#{if homeModel}
	<div class="row">
		#{list items:homeModel, as:'home'}
			<${home.getTitleType()}>${home.getTitle()}</${home.getTitleType()}>
				#{list items:home.getParagraphs(), as:'paragraph'}
					<p>${paragraph.getParagraph()}</p>
				#{/list}		
		#{/list}
	</div>
#{/if}





