#{extends 'main.html' /}
#{set title:'Home' /}

<ul class="pills">
	<li><a href="/">Home</a></li>
	<li><a href="/locations">Screening Locations</a></li>
	<li><a href="/theteam">The Team</a></li>
	<li class="active"><a href="#">Contact</a></li>
</ul>

<div class="row">
	<h1>Contact</h1>
	<div class="span3">
		<h4>Address</h4>
		<p>
		DRSSS<br/>
		Farnham Hospital<br/>
		Hale Road<br/>
		Farnham<br/>
		Surrey<br/>
		GU9 9QL<br/>
		</p>
	</div>
	
	<div class="span3">
		<h4>Telephone</h4>
		<p>01483 782272</p>
	</div>

	<img class="phoneIcon" src="/public/images/Phone-Icon.jpg"/>
</div>
	
