#{extends 'main.html' /}
#{set title:'Home' /}

<ul class="pills">
	<li><a href="/">Home</a></li>
	<li><a href="/locations">Screening Locations</a></li>
	<li><a href="/theteam">The Team</a></li>
	<li class="active"><a href="#">Contact</a></li>
</ul>

<div class="row">
	<h1>Contact</h1>
	<div class="span10">
		<p>#{if contact}${contact.getSummaryAsHTML().raw()}#{/if}</p>
	</div>
	<div class="span3">
		<h4>Address</h4>
		#{if contact}
		<p>${contact.getAddressAsHTML().raw()}</p>
		#{/if}
	</div>
	
	<div class="span3">
		<h4>Telephone</h4>
		#{if contact}
		<p>${contact.getPhone()}</p>
		#{/if}
	</div>

	<img class="phoneIcon" src="/public/images/Phone-Icon.jpg"/>
</div>
	
