#{extends 'main.html' /}
#{set title:'Home' /}

<ul class="pills">
	<li><a href="/">Home</a></li>
	<li><a href="/locations">Screening Locations</a></li>
	<li class="active"><a href="#">The Team</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>

<div class="row">
	<h1>The Team</h1>
	<div class="teamMember">
		<img class="thumbnail" src="http://placehold.it/90x90" alt="">
		<div class="span10">
			<h3>Susanne Sorensen</h3>
			<h5>Programme Manager</h5>
			<p>
			A summary about the person in a short paragraph, possibly written
			by the person themselves.
			A summary about the person in a short paragraph, possibly written
			by the person themselves.
			A summary about the person in a short paragraph, possibly written
			by the person themselves.
			</p>
		</div>
	</div>
	
	<div class="teamMember">
		<img class="thumbnail" src="http://placehold.it/90x90" alt="">
		<div class="span10">
			<h3>Susanne Sorensen</h3>
			<h5>Programme Manager</h5>
			<p>
			A summary about the person in a short paragraph, possibly written
			by the person themselves.
			A summary about the person in a short paragraph, possibly written
			by the person themselves.
			A summary about the person in a short paragraph, possibly written
			by the person themselves.
			</p>
		</div>
	</div>
	
	
</div>
	