#{extends 'main.html' /}
#{set title:'Home' /}

<ul class="pills">
	<li><a href="/">Home</a></li>
	<li><a href="/locations">Screening Locations</a></li>
	<li class="active"><a href="#">The Team</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>

<div class="row">
	<h1>The Team</h1>
	#{list items:teamMembers, as:'team'}
		<div class="teamMember">
			<img class="thumbnail" src="${team.getImageLocation()}" alt="">
			<div class="span10">
				<h3>${team.getName()}</h3>
				<h5>${team.getJobTitle()}</h5>
				<p>${team.getSummary()}</p>
			</div>
		</div>
	#{/list}
</div>
	