#{extends 'main.html' /}
#{set title:'Home' /}




<ul class="pills">
	<li><a href="/">Home</a></li>
	<li class="active"><a href="#">Screening Locations</a></li>
	<li><a href="/theteam">The Team</a></li>
	<li><a href="/contact">Contact</a></li>
</ul>
	

	
	
<div class="row">
	<h1>Screening Locations</h1>
	#{list items:clinicLocations, as:'location'}
		<div class="clinicLocation">
			<div style="padding-top:10px;padding-left:0px;display:inline-block;float:left">
				<img class="thumbnail" src="${location.getImageLocation()}" alt="">	
			</div>
			<div class="span10">
				<h3>${location.getName()}</h3>
				<div class="span4">
					<h5>Address</h5>
					<address>${location.getHTMLEscapedAddress().raw()}</address>
				</div>
				<div class="span4">
					<h5>Clinic Hours</h5>
					<p>${location.getClinicHours()}</p>
				</div>
			</div>
		</div>
	#{/list}
</div>
	
	

